html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #121212;
    font-family: 'Cairo', sans-serif;
    /*overflow: hidden; /* Evita barras de desplazamiento innecesarias */
}

canvas {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 70vh;
    position: fixed;
}

.cabecera {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
    pointer-events: none;
    border-bottom: 1px solid rgb(94, 94, 94);
}

.background-three {
    position: absolute;
}


.btn-download {
    font-family: 'Cairo', sans-serif;
    font-size: medium;
    background-color: #2f2f2f;
    color: white;
    padding: 8px 16px;
    border: 2px solid #ff7f00;
    border-radius: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff7b00;
    /* Cambio de color al pasar el cursor */
    color: #1f1f1f;

}

/* button {
    font-size: small;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    background-color: #ff7b00;
    color: #2f2f2f;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 16px;
    transition: 1s ease;

}

button:hover {
    background-color: #3f3f3f;
    color: #ffffff;
    align-self: stretch;
    transition: 1s ease;
}

.btn_proto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    gap: 8px;
    left: 0%;
}

.boton-ocultar {
    position: absolute;
    animation: slideOutLeft 0.5s forwards;
}

.boton-mostrar {
    display: flex;
    position: absolute;
    position: absolute;
    left: -100%;
    animation: slideInLeft 0.5s forwards;
} */

@keyframes slideOutLeft {
    from {
        left: 1px;
    }

    to {
        left: -100%;
    }
}

@keyframes slideInLeft {
    from {
        left: -100%;
    }

    to {
        left: 1px;
    }
}

/* _______________________SECCIONES__________________________ */

#seccion1 {
    font-size: large;
    display: flex;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
    background-color: #121212;
    opacity: 0.9;
    border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
}

#seccion2 {
    background-color: #1f1f1f;
    border-bottom: 1px solid rgb(94, 94, 94);
    height: auto;
    transition: height 1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

#seccion3 {
    background-color: rgb(0 0 0 / 0%);
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    /* gap: 24px; */
    position: relative;


}

.protitpos-figma {
    /* background-color: #121212; */
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

#seccion4 {
    background-color: #121212;
    border-top: 1px solid rgb(94, 94, 94);
    opacity: 0.9;
    position: relative;
}

#seccion5 {
    font-size: large;
    display: flex;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
    background-color: #121212;
    opacity: 0.9;
    border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
}

/* 
.footer {
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
    pointer-events: none;
    border-bottom: 1px solid rgb(94, 94, 94);
    margin-left: 48px;
    margin-right: 48px;
} */



/* Estilos para el contenido del footer */
.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    pointer-events: none;
    border-bottom: 1px solid rgb(94, 94, 94);
    padding: 24px;
    gap: 24px;
    flex-wrap: nowrap;
    align-items: stretch;
    min-width: 247px;
    

}

.footer-id {
    display: flex;
    gap: 24px;
}

/* Estilos para el footer en dispositivos móviles */
@media only screen and (max-width: 450px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    /* Ocultar la imagen PNG en dispositivos móviles */
    .perfil-img {
        display: none;
    }
}

/* _______________SECCION 1____________________ */


/* #seccion1 .contenido {
    display: none;
    color: #c4c4c4;
} */

#seccion1 .contenido {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 8px;
}


/* ______________________cards___________________________________ */

/* .card {
    border-radius: 24px;
    padding: 24px;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2f2f2f;
    align-content: flex-start;
    align-items: flex-end;
    user-select: none;
}

.card-icon {
    width: 24px;
    height: 24px;
    position: relative;
    color: #ff7b00;
}

.card-title {
    margin-bottom: auto;
    font-size: 1.2em;
}


.card-content h2 {
    margin-top: 0;
}

.card-content p {
    font: menu;
    font-size: smaller;
}

#contenido {
    flex-basis: calc(100% / 2);
} */

/* ______________________seccion1 CV___________________________________ */
.datos {
    /* margin-left: 48px; */
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 16px;
}

.barra-progreso {
    width: 100px;
    background-color: #2f2f2f;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.relleno {
    background-color: #ff7b00;
    height: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 4px;
}

.setenta-y-cinco {
    width: 75%;
}

.ochenta {
    width: 80%;
}

.noventa {
    width: 90%;
}

.treinta {
    width: 30%;
}

.quince {
    width: 15%;
}

.diez {
    width: 10%;
}

.cien {
    width: 100%;
}

h6 {
    color: #888;
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    /* min-width: 325px; */
    padding-left: 16px;
}

.titulo {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

.nombre {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    mix-blend-mode: difference;
}

.nombre-seccion {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 50px;
    mix-blend-mode: difference;
}



h1 {
    font-size: 28px;
    color: #ff7b00;
    margin: 0;
    line-height: 28px;
}

h4 {
    font-size: 18px;
    color: hsl(0, 0%, 30%);
    margin: 0;
    text-align: left;
    line-height: 18px;
}

h3 {
    color: #ff7b00;
    margin: 0;
}

p {
    color: #888;
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    min-width: 325px;
}

h5 {
    color: #888;
    font-size: medium;
    margin: 0;
    line-height: 18px;
    background-color: #1f1f1f;
    border-radius: 16px;
    margin-left: 8p;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tag {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.tag_software {
    display: flex;
    gap: 24px;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 325px;
}

.software {
    display: flex;
}

.skill {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cv-content {
    display: flex;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 24px;
    margin-top: 10px;
}

.cv-top {
    display: flex;
    min-width: 300px;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 90%;
}

.cv-top-label {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.bloque-skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* max-width: 700px; */
    min-width: 325px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bloque-1 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.grupo-tag {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* ______________________GALERIA ___________________________________ */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 24px;
}

.elemento-galeria:hover .overlay {
    opacity: 1;
}

.like-icon,
.like-counter {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}


.elemento-galeria {
    position: relative;
    flex: 0 0 auto;
}

.elemento-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.galeria {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    overflow-y: auto;
    /* max-width: 1800px; */
    overflow-x: auto;
    white-space: nowrap;
    height: 60vh;
    gap: 16px;
    transition: scroll-left 0.3s ease-out;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
}

.seccion2 {
    display: flex;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ____________________PROTOTIPOS FIGMA - SECCION 3_________________________________ */

#prototipo1 iframe {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    max-height: 748px;
    min-height: 748px;
    width: 325px;
    /* margin-top: -48px;
    margin-bottom: -48px; */

}

#prototipo2 iframe {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    max-height: 748px;
    min-height: 748px;
    width: 325px;
    /* margin-top: -48px;
    margin-bottom: -48px; */

}