html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #121212;
    font-family: 'Cairo', sans-serif;
    /*overflow: hidden; /* Evita barras de desplazamiento innecesarias */
}

canvas {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 70vh;
    position: fixed;
}

.cabecera {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
    pointer-events: none;
    border-bottom: 1px;
    flex-direction: column;
}

.background-three {
    position: absolute;
}

.btn-download {
    padding: 12px 30px;
    border-radius: 16px;
    border: 0;
    background-color: #ff7b00;
    /* letter-spacing: 1.5px; */
    font-size: 16px;
    font-weight: bolder;
    transition: all 0.3s ease;
    box-shadow: #c45f00 0px 7px 0px 0px;
    color: #121212;
    cursor: pointer;
}

button:hover {
    box-shadow: #9e4c00;
    color: #ffffff;

}

button:active {
    background-color: #ff7b00;
    /*50, 168, 80*/
    box-shadow: #c45f00 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

.btn-copy {
    box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
}

.btn-copy img {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    height: 24px;
    width: 24px;
}

.btn-copy:hover,
.btn-copy:focus {
    background-color: var(--button-hover-bg);
}

.btn-copy:hover img {
    color: var(--button-hover-text-color);
}


.texto-copiable {
    color: #888;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.texto-copiable a {
    color: #888;
    /* Color del texto del enlace */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}

.texto-copiable a:hover {
    color: #8bb9fe;
}

.btn-email {
    color: #888;
    /* Color del texto del enlace */
    text-decoration: none;
    /* Elimina el subrayado del enlace */
    display: inline-flex;
    /* Flexbox en línea para que el texto se comporte como un botón */
    align-items: center;
    /* Alinea verticalmente el texto */
}

.btn-email:hover {
    color: #8bb9fe;
}

@keyframes slideOutLeft {
    from {
        left: 1px;
    }

    to {
        left: -100%;
    }
}

@keyframes slideInLeft {
    from {
        left: -100%;
    }

    to {
        left: 1px;
    }
}

/* _______________________SECCIONES__________________________ */

#seccion1 {
    font-size: large;
    display: flex;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
    /* background-color: #121212; */
    opacity: 0.99;
    /* border-top: 1px solid rgb(94, 94, 94); */
    /* border-bottom: 1px solid rgb(94, 94, 94); */
    margin-bottom: 50px;
}

#seccion2 {
    background-color: #1f1f1f;
    border-bottom: 1px solid rgb(94, 94, 94);
    height: auto;
    transition: height 1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

#seccion3 {
    background-color: rgb(0 0 0 / 0%);
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    /* gap: 24px; */
    position: relative;
    opacity: 0.99;


}

.protitpos-figma {
    /* background-color: #121212; */
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

#seccion4 {
    background-color: #121212;
    border-top: 1px solid rgb(94, 94, 94);
    opacity: 0.9;
    position: relative;
    opacity: 0.99;
}

#seccion5 {
    font-size: large;
    display: flex;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
    background-color: #121212;
    opacity: 0.9;
    /* border-top: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94); */

}

#seccion6 {
    font-size: large;
    display: flex;
    align-items: stretch;
    min-height: 100px;
    flex-direction: row;
    /* background-color: #121212; */
    opacity: 0.9;
    /* padding: 5vh; */
    /* margin: 16px; */
    /* overflow: hidden; */
    padding: 16px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding-bottom: 64px;
    padding-top: 64px;

}

.contenido_seccion6 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* Espacio entre etiquetas */
}

/* Estilos para el contenido del footer */
.footer-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    pointer-events: none;
    /* border-bottom: 1px solid rgb(94, 94, 94); */
    padding: 24px;
    gap: 24px;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 247px;
}

/* .footer {
    display: flex;
    gap: 24px;
} */

.footer-id {
    display: flex;
    gap: 24px;
    align-items: center;
}

.perfil-img {
    display: flex;
    width: 87px;
    height: 87px;
}

/* Estilos para el footer en dispositivos móviles */
@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    /* Ocultar la imagen PNG en dispositivos móviles */
    .perfil-img {
        display: none;
        width: 100px;
    }
}


/* _______________SECCION 1____________________ */


#seccion1 .contenido {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 16px;
    /* overflow-y: auto;
    overflow-x: hidden; */
    margin: 8px;
}

.cv-content {
    display: flex;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    /* margin-bottom: 24px;
    margin-top: 10px; */
    width: auto;
    /* max-width: 1470px; */
    /* overflow: auto; */
    border-radius: 24px;
    background: #202020;
    /* box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(41, 41, 41); */

}

.cv-content_skills {
    display: flex;
    gap: 68px;
    padding: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    max-width: 625px;
    border-radius: 24px;
    background: #202020;

    /* height: fit-content; */

}


/* ______________________cards___________________________________ */

/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 320px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    padding: 24px;
    overflow: hidden;
    border-radius: 24px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    /* background: #2f2f2f; */
    width: auto;
    max-width: 300px;
    min-width: 280px;
    transition: all 0.5s ease;
    height: 340px;
    align-items: stretch;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    color: #ffffff;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    width: auto;
    justify-content: space-around;
}

.content .heading {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    width: fit-content;
    line-height: 36px;
    min-height: 80px;
    align-items: flex-end;
}

.content .para {
    line-height: 1.5;
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 100%;
    background: linear-gradient(-450deg, #2f2f2f 0%, #313131 100%);
    z-index: -1;
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    width: 100%;

}

.card:hover {
    box-shadow: none;
    color: #121212;
}

.card:hover .btn-download {
    padding: 12px 30px;
    border-radius: 16px;
    border: 0;
    background-color: #ff7b00;
    /* letter-spacing: 1.5px; */
    font-size: 16px;
    font-weight: bolder;
    transition: all 0.3s ease;
    box-shadow: #c45f00 0px 7px 0px 0px;
    color: #ffffff;
    cursor: pointer;
}

.card .btn-download {
    padding: 12px 30px;
    border-radius: 16px;
    border: 0;
    background-color: #2f2f2f;
    /* letter-spacing: 1.5px; */
    font-size: 16px;
    font-weight: bolder;
    transition: all 0.3s ease;
    box-shadow: #272727 0px 7px 0px 0px;
    color: #ffffff;
    cursor: pointer;
}

.card:hover .content p {
    color: #d4d4d4;

}

.content .btn:active {
    box-shadow: none;
}

@media (max-width: 400px) {
    .tarjeta {
        flex: 1 1 100%;
        /* Cambia a 100% de ancho en pantallas pequeñas */
    }
}

/* ______________________seccion1 CV___________________________________ */
.datos {
    /* margin-left: 48px; */
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 16px;
}

.barra-progreso {
    background-color: #1a1a1a;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    max-width: 200px;
    min-width: 100px;

}

.relleno {
    background-color: #ff7b00;
    height: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 4px;
}

.setenta-y-cinco {
    width: 75%;
}

.ochenta {
    width: 80%;
}

.noventa {
    width: 90%;
}

.treinta {
    width: 30%;
}

.quince {
    width: 15%;
}

.diez {
    width: 10%;
}

.cien {
    width: 100%;
}

h6 {
    color: #888;
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    /* min-width: 325px; */
    padding-left: 16px;
}

h7 {
    color: #ff7b00;
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    /* min-width: 325px; */
    /* padding-left: 16px; */
}

.titulo {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    align-items: flex-start;

}

.nombre {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    mix-blend-mode: difference;
}

.nombre-seccion {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 50px;
    mix-blend-mode: difference;
}

.nombre-seccion-cards {
    /* gap: 12px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    mix-blend-mode: difference;
    gap: 24px;
}


h1 {
    font-size: 28px;
    color: #ff7b00;
    margin: 0;
    line-height: 28px;
}

h4 {
    font-size: 18px;
    color: #888;
    margin: 0;
    text-align: left;
    line-height: 18px;
    width: 156px;
}

h3 {
    color: #ff7b00;
    margin: 0;
    /* width: 20px; */
}

p {
    color: #888;
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    /* min-width: 325px; */
    max-width: 1100px;

}

h5 {
    color: #888;
    font-size: medium;
    margin: 0;
    line-height: 18px;
    /* background-color: #1f1f1f; */
    border-radius: 16px;
    padding-left: 16px;
    /* padding-right: 16px; */
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

.tag {
    display: flex;
    /* gap: 16px; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #1b1b1b;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
    color: #7b7b7b;
}

.tag_software {
    /* display: flex; */
    gap: 24px;
    /* align-items: stretch; */
    flex-wrap: nowrap;
    justify-content: space-around;
    /* min-width: 325px; */
    flex-direction: column;
    display: grid;
    justify-items: stretch;
    align-content: space-evenly;
}

.software {
    display: flex;
}

.skill {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 400px) {
    .skill {
        display: grid;
        justify-items: stretch;
        gap: 24px;
        width: 240px;
    }
    .bloque-skills {
        display: flex;
        flex-direction: column;
        gap: 26px;
        /* max-width: 700px; */
        /* min-width: 270px; */
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
        width: 240px;
    }
}

.label {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.label2 {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.cv-top {
    display: flex;
    min-width: 300px;
    gap: 24px;
    flex-wrap: wrap;
    /* max-width: 90%; */
    max-width: 1424PX;
}

.cv-top-label {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.bloque-skills {
    display: flex;
    flex-direction: column;
    gap: 26px;
    /* max-width: 700px; */
    /* min-width: 270px; */
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
}

.bloque-1 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.grupo-tag {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.grupo-tag-lebel {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;

}

/* ______________________GALERIA ___________________________________ */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 24px;
}

.elemento-galeria:hover .overlay {
    opacity: 1;
}

.like-icon,
.like-counter {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}


.elemento-galeria {
    position: relative;
    flex: 0 0 auto;
}

.elemento-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.galeria {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    overflow-y: auto;
    /* max-width: 1800px; */
    overflow-x: auto;
    white-space: nowrap;
    height: 60vh;
    gap: 16px;
    transition: scroll-left 0.3s ease-out;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
}

.seccion2 {
    display: flex;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ____________________PROTOTIPOS FIGMA - SECCION 3_________________________________ */

#prototipo1 iframe {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    max-height: 748px;
    min-height: 748px;
    width: 325px;
    /* margin-top: -48px;
    margin-bottom: -48px; */

}

#prototipo2 iframe {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    max-height: 748px;
    min-height: 748px;
    width: 325px;
    /* margin-top: -48px;
    margin-bottom: -48px; */

}

.grupo-skills {
    display: flex;
    flex-direction: column;
    gap: 24px;

}