html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  font-family: "Cairo", sans-serif;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 70vh;
  position: fixed;
}

.cabecera {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
  pointer-events: none;
  border-bottom: 1px;
  flex-direction: column;
}

.background-three {
  position: absolute;
}

article {
  color: #9e9e9e;
  font-size: 16px;
  line-height: 22px;
  max-width: 1100px;
}

strong {
  color: #ff7b00;
}

#animated-image {
  animation: mover;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes mover {
  from {
    transform: rotatez(0deg);
  }
  to {
    transform: rotatez(360deg);
  }
}

/* ________________________________________Navbar______________________________________________ */

header {
  position: sticky;
  top: 0;
  background-color: #1e1e1e;
  background-color: oklch(23.5% 0 0);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 100%;
  padding: 10px 48px;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.icon_navbar {
  width: 24px;
}

.menu-icon {
  font-size: 30px;
  color: #ff7600;
  color: oklch(71.73% 0.192 49);
  cursor: pointer;
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links li a:hover {
  color: #ff7b00;
}

/* Estilos para dispositivos m칩viles */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1e1e1e;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

/* ________________________________________BTN______________________________________________ */

.btn-download {
  padding: 10px 24px;
  border-radius: 16px;
  border: 0;
  background-color: #ff7b00;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: #c45f00 -2px 7px 0px 0px;
  color: #121212;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 8px;
}

.btn-download:hover {
  background-color: #ff7b00;
  box-shadow: #c45f00 -2px 7px 0px 0px;
  color: #ffffff;
  /* transform: rotateZ(-10deg); */
}

.btn-download:active {
  background-color: #ff7b00;
  box-shadow: #c45f00 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.btn-copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.btn-copy img {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 24px;
  width: 24px;
}

.btn-copy:hover,
.btn-copy:focus {
  background-color: var(--button-hover-bg);
}

.btn-copy:hover img {
  color: var(--button-hover-text-color);
}

.texto-copiable {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.texto-copiable a {
  color: #888;
  text-decoration: none;
}

.texto-copiable a:hover {
  color: #8bb9fe;
}

.btn-email {
  color: #888;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.btn-email:hover {
  color: #8bb9fe;
}

@keyframes slideOutLeft {
  from {
    left: 1px;
  }

  to {
    left: -100%;
  }
}

@keyframes slideInLeft {
  from {
    left: -100%;
  }

  to {
    left: 1px;
  }
}

/*                            SECCIONES                                      */

/* ___________________________SECCIONE 1_____________________________ */

#seccion1 {
  font-size: large;
  display: flex;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
  opacity: 0.99;
  margin-bottom: 50px;
  padding: 16px;
  /* margin: 16px; */
}

#seccion1 .contenido {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.cv-content {
  display: flex;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  width: auto;
  border-radius: 24px;
  background: #202020;
}

.titulo {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.nombre {
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.cv-content_skills {
  display: flex;
  gap: 68px;
  padding: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  max-width: 625px;
  border-radius: 24px;
  background: #202020;
}

.cv-top {
  display: grid;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 1424px;
  justify-content: space-evenly;
}

.cv-top-label {
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: stretch;
}

/* ___________________________SECCION Galeria_____________________________ */

#seccion-galeria {
  font-size: large;
  display: flex;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
  background: #121212;
  opacity: 0.9;
  /* margin-bottom: 50px; */
  padding: 16px;
  gap: 48px;
}

.seccion2 {
  display: flex;
}

/* ______________________GALERIA ___________________________________ */

.elemento-galeria {
  position: relative;
  flex: 0 0 auto;
}

.galeria-lista,
.galeria-lista * {
  cursor: grab;
}

.galeria-lista {
  z-index: 2;
  position: relative;
  list-style-type: none;
  display: flex;
  height: 500px;
  gap: 16px;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 16px;
  border-radius: 24px;
  cursor: grab;
}

.galeria-lista.active {
  cursor: grabbing;
}

.elemento-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  object-fit: cover;
  /* Asegura que las im치genes se ajusten al contenedor */
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}

.galeria-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  max-width: 1470px;
}

.galeria {
  display: flex;
  gap: 16px;
  /* transition: scroll-left 0.3s ease-out; */
  max-width: 1463px;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow: auto;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff7b00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c45f00;
}

/* ___________________________SECCION 2 cards_____________________________ */

#seccion2 {
  font-size: large;
  display: flex;
  align-items: stretch;
  min-height: 100px;
  flex-direction: row;
  opacity: 0.9;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-bottom: 64px;
  /* padding: 16px; */
}

.tag-container {
  display: grid;
  flex-wrap: wrap;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.nombre-seccion-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* mix-blend-mode: difference; */
  gap: 24px;
  align-items: stretch;
  /* max-width: 1470px; */
  margin: 16px;
}

/*              cards             */

.card {
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-items: stretch;
  border-radius: 24px;
  background: #202020;
  max-width: 300px;
  min-width: 210px;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
  justify-content: space-between;
  /* margin: 16px; */
}

.content {
  display: flex;
  gap: 24px;
  color: #ffffff;
  /* transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1); */
  /* width: auto; */
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.content .heading {
  display: flex;
  font-size: 32px;
  width: fit-content;
  line-height: 36px;
  min-height: 50px;
  align-items: flex-end;
  font-size: 28px;
  color: #7b7b7b;
  line-height: 28px;
}

.content .cardtext {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
}

.content .para {
  line-height: 1.5;
}

.card:hover::before {
  width: 100%;
}

.card:hover {
  box-shadow: none;
  color: #121212;
}

.card:hover .btn-download {
  padding: 12px 30px;
  border-radius: 16px;
  border: 0;
  background-color: #ff7b00;
  font-size: 16px;
  font-weight: bolder;
  /* transition: all 0.3s ease; */
  box-shadow: #c45f00 0px 7px 0px 0px;
  color: #ffffff;
  cursor: pointer;
}

.card .btn-download {
  padding: 12px 24px;
  border-radius: 16px;
  border: 0;
  background-color: #2f2f2f;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: #272727 0px 7px 0px 0px;
  color: #ffffff;
  cursor: pointer;
}

.card:hover .content p {
  color: #ff7600;
}

.content .btn:active {
  box-shadow: none;
}

@media (max-width: 400px) {
  .tarjeta {
    flex: 1 1 100%;
  }
}

/* ___________________________SECCION 3 prototipos_____________________________ */

#seccion3 {
  background: #121212;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  opacity: 0.9;
  padding-top: 64px;
  padding-bottom: 64px;
}

.protitpos-figma {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  position: relative;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

#prototipo iframe {
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid rgba(0, 0, 0, 0);
  max-height: 748px;
  min-height: 748px;
  width: 325px;
}

/* ___________________________SECCIONE 6 skills_____________________________ */

#seccion6 {
  display: flex;
  align-items: stretch;
  min-height: 100px;
  flex-direction: row;
  opacity: 0.9;
  justify-content: center;
  gap: 24px;
  padding-bottom: 64px;
  padding-top: 64px;
  margin: 16px;
}

.contenido_seccion6 {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1470px;
  /* margin: 16px; */
  justify-content: space-around;
}

.cv-content_skills3 {
  padding: 16px;
  flex-wrap: wrap;
  border-radius: 24px;
  background: #202020;
  min-width: fit-content;
}

.cv-content_skills2 {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
  padding: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 998px;
  border-radius: 24px;
  background: #202020;
}

.barra-progreso {
  background-color: #1a1a1a;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.relleno {
  background-color: #ff7b00;
  height: 100%;
  /* transition: width 0.3s ease-in-out; */
  border-radius: 4px;
}

.setenta-y-cinco {
  width: 75%;
}

.ochenta {
  width: 80%;
}

.noventa {
  width: 90%;
}

.treinta {
  width: 30%;
}

.quince {
  width: 15%;
}

.diez {
  width: 10%;
}

.cien {
  width: 100%;
}

.grupo-skills {
  display: grid;
  flex-direction: column;
  gap: 16px;
}

.grupo-tag {
  display: grid;
  flex-direction: column;
  align-content: stretch;
  justify-items: stretch;
  grid-auto-rows: max-content;
}

.skill {
  gap: 8px;
  flex-direction: column;
  display: flex;
  min-width: 150px;
}

.bloque-skills_1 {
  gap: 16px;
  flex-wrap: wrap;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
}

@media (width < 500px) {
  .bloque-skills_1 {
    gap: 16px;
    flex-wrap: wrap;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr;
  }
}

.bloque-skills_2 {
  gap: 16px;
  flex-wrap: wrap;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
}

.grupo-tag-lebel {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
  margin: 8px 0px 24px 0px;
}

.label {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.label2 {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #1b1b1b;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  color: #9c9c9c;
  justify-content: flex-start;
  align-content: stretch;
  min-height: 32px;
  align-items: center;
  gap: 16px;
}

/* ___________________________Footer_____________________________ */

.footer {
  background-color: #121212;
  border-top: 1px solid rgb(94, 94, 94);
  opacity: 0.9;
  position: relative;
  opacity: 0.99;
}

.footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
  pointer-events: none;
  padding: 24px;
  gap: 24px;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 247px;
}

.footer-id {
  display: flex;
  gap: 24px;
  align-items: center;
}

.perfil-img {
  display: flex;
  width: 87px;
  height: 87px;
}

/* Estilos para el footer en dispositivos m칩viles */
@media only screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  /* Ocultar la imagen PNG en dispositivos m칩viles */
  .perfil-img {
    display: none;
    width: 100px;
  }
}

.subtitle {
  font-size: 18px;
  margin: 0;
  color: #fff;
  display: flex;
  gap: 8px;
}
.subtitle-text-brand {
  color: #ff7b00;
  font-size: 18px;
  margin: 0;
  line-height: 24px;
}

.subtitle-text-brand2 {
  color: #ff7b00;
  font-size: 18px;
  margin: 0;
  line-height: 24px;
  mix-blend-mode: difference;
}

.title-text-brand {
  color: #ff7b00;
  font-size: 32px;
  margin: 0;
  line-height: 24px;
}

.title-medium-text-brand {
  color: #ff7b00;
  font-size: 24px;
  margin: 0;
  line-height: 24px;
}

.nombre-seccion {
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 50px;
  margin: 16px;
}

/* ______________________estilos generales_____________________________ */

p {
  color: #888;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  max-width: 1100px;
}
